body {
  background-image: url("file:///C:/Users/Asus/Downloads/pexels-cottonbro-4253317.jpg");
}
a {
  color: blue;
}
h5 {
  color: red;
}
h3 {
  font-weight: bold;
}
h1 {
  text-align: center;
}
p {
  border: 3px blue solid;
  box-shadow: 6px 6px 0px black;
}
body {
  background-color: chartreuse;
}
