body
{
	background-image:url("file:///C:/Users/Asus/Downloads/pexels-cottonbro-4253317.jpg");
	color:white
}
a
{
	color:blue;
}
h5
{
	color: red;
}
h3
{
	<strong>tittle<strong>
}
h1
{
	tittle align-content: 
}