#conteneur {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  height: 200px;
  border: 2px solid#444;
}
.element {
  width: 150px;
  height: 100px;
}
.element1 {
  background-color: orange;
  flex: 1;
}
.element2 {
  background-color: navy;
  flex: 2;
}
.element3 {
  background-color: chartreuse;
}
